*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
}

/*contenedor principal*/

.container{
  width: 100%;
}

header{
  background-color: rgb(194, 20, 20);
  color: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  background-color: blue;
  padding: 10px 15px;
  border-radius: 20px;

}

nav ul{
  list-style:none;
  padding: 0%;
  margin: 0;
  display: flex;
  gap: 10px;
}

nav a{
  text-decoration:none;
  color: white;
  padding: 5px 10px;
}

nav a:hover{
  background-color: blueviolet;
  border-radius: 5px;
}

.layout{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/*main*/

main{
  background-color: rgb(86, 55, 115);
  padding: 20px;
  border-radius: 15px;
}
/*Articulos*/
article{
  background-color: rgb(183, 255, 0);
  padding: 20px;
  border-radius: 15px;
}
section{
  background-color: rgb(205, 186, 17);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

section p{
  text-align: justify;
  padding-right: 5px ;

}

/* footer dentro del main*/
.main-footer{
  background-color: rgb(203, 114, 12);
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

aside{
  background-color: rgba(168, 140, 14, 0.714);
  padding: 20px;
  border-radius: 15px;
}

aside section {
background-color: rgb(17, 139, 29);
margin-bottom: 30px;
}

.page-footer{
  margin-top: 20px;
  background-color: rgb(255, 123, 0);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-size:20px;
}